# top-most EditorConfig file
root = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true

# C# code style
csharp_new_line_before_open_brace = all: true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_prefer_braces = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_prefer_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_prefer_pattern_matching_over_as_with_null_check = true:suggestion
csharp_prefer_static_local_function = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion
csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_properties = false:suggestion
csharp_style_expression_bodied_ctors = false:suggestion
csharp_style_expression_bodied_accessors = false:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# File header - temporarily disabled to keep build working
# file_header_template = "// Copyright (c) FluentUIScaffold. All rights reserved."

# Naming conventions - Use default C# conventions
# Parameters should be camelCase (this is the default C# convention)

# Analyzer severity - temporarily disabled to keep build working
# dotnet_analyzer_diagnostic.severity = none

# Treat formatting and style (IDE) rules as warnings
# (This will not affect CA or other analyzer rules)
dotnet_diagnostic.IDE*.severity = warning
dotnet_diagnostic.formatting*.severity = warning

# Treat all CA (code analysis) rules as warnings, not errors
dotnet_diagnostic.CA*.severity = warning

# End of file 