<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[FluentUIScaffold.Core]FluentUIScaffold.Core.Configuration.*Builder;[FluentUIScaffold.Core]FluentUIScaffold.Core.Configuration.ServerConfiguration*</Include>
          <Exclude>[*.Tests]*;[*]SampleApp*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>